
@model IEnumerable<Vidly.Models.Customer>


@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Index</h3>

@if (!Model.Any())
{
    <text>No Customers were detected</text>
}
else
{
    <table class="table table-bordered table-hover" >
        <tr>
            <th>Customer Name</th>
            <th>Discount Rate</th>
            <td>Membership Type</td>

        </tr>

        <a href=""></a>
        @foreach (var customer in Model)
        {
            <tr>
                <td><a href="customers/Edit/@customer.Id">@customer.Name</a></td>
                <td>@customer.MembershipType.DiscountRate%</td>
                <td>@customer.MembershipType.Type</td>
            </tr>

        }

    </table>
}

