
@model Vidly.ViewModels.CustomersViewModel


@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Index</h3>

@if (Model.Customers.Count ==0)
{
    <text>No Customers were detected</text>
}
else
{
    <table class="table table-bordered table-hover" >
        <tr>
            <th>
                Customer Name
            </th>

        </tr>

        <a href=""></a>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td><a href="customers/detail/@customer.Id">@customer.Name</a></td>
            </tr>

        }

    </table>
}

